In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame({'coll': [1, 2, 3], 'coll2': [4, 5, 6]})

In [8]:
df

   coll  coll2
0     1      4
1     2      5
2     3      6

In [9]:
import sqlite3

In [10]:
con = sqlite3.connect('db')

In [11]:
df.to_sql('users', con, index=False, if_exists='replace')

3

In [12]:
sql = '''select * from users t'''

In [13]:
pd.read_sql(sql, con)

   coll  coll2
0     1      4
1     2      5
2     3      6