In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'coll': [1, 2, 3], 'coll2': [4, 5, 6]})

In [3]:
df

   coll  coll2
0     1      4
1     2      5
2     3      6

In [4]:
import sqlite3

In [5]:
con = sqlite3.connect('db')

In [6]:
df.to_sql('users', con, index=False, if_exists='replace')

3

In [7]:
sql = '''select * from users t'''

In [8]:
pd.read_sql(sql, con)

   coll  coll2
0     1      4
1     2      5
2     3      6

In [9]:
def select(sql):
    return pd.read_sql(sql, con)

### Скачиваем данные из google sheets

In [10]:
import pandas as pd

https://docs.google.com/spreadsheets/d/1tE1YXPdB5sMcTJl2iImeaWOojLLbkyTX_J7D51zOqyQ/edit?usp=sharing

In [11]:
id = '1tE1YXPdB5sMcTJl2iImeaWOojLLbkyTX_J7D51zOqyQ'

In [12]:
df = pd.read_csv(f'https://docs.google.com/spreadsheets/d/{id}/export?format=csv')

In [13]:
df

   user_id name
0        2    b
1        3    c
2        4    d

In [14]:
df.to_sql('users2', con)

3

In [15]:
sql = '''select * from users2 t'''

In [16]:
select(sql)

   index  user_id name
0      0        2    b
1      1        3    c
2      2        4    d